html, body {
  height: 100%;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  color: #fff;
  margin-bottom: 50px;
}
.logo {
  font-size: 32px;
}
.menu {
  display: flex;
  gap: 1.5em;
  font-size: 20px;
  color: #ffffff;;
  padding-right: 150px;
}
.form{
  margin: 50px auto 0 auto;
  background-color: #16bb29;
  resize: vertical;
  padding: 1.5rem;
}
.footer {
  text-align: center;
  padding: 10px 20px;
  background: #666;
  color: white;
}

